/* Cyna Solid Button Style */
ion-button.button-solid {
  --border-color: var(--ion-color-base);
  --border-style: solid;
  --border-width: 1px;

  --padding-top: 3px;
  --padding-bottom: 3px;
  --padding-start: 25px;
  --padding-end: 25px;

  --ion-color-tint: trasparent !important; /** because ios has a tint layer*/

  min-height: 40px;
}

/* Cyna Solid Native Button Style again because of course why the fuck wouldn't ion-buttons background transitions apply to the native element */
ion-button.button-solid::part(native) {
  transition: all 0.2s;
}
ion-button.button-solid::part(native):hover,
ion-button.button-solid::part(native):focus,
ion-button.button-solid::part(native):active {
  background-color: var(--ion-color-contrast);
  color: var(--ion-color-base);
}

/* Button Chevron Animation */
ion-button.button-solid ion-icon {
  transition: transform 0.2s;
}
ion-button.button-solid:hover ion-icon,
ion-button.button-solid:focus ion-icon,
ion-button.button-solid:active ion-icon {
  transform: translateX(5px);
}
