@import url(./buttons.css);

@font-face {
  font-family: 'Red Hat Display';
  src: url(fonts/RedHatDisplay.ttf);
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url(fonts/RedHatDisplayItalic.ttf);
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

:root {
  --ion-font-family: 'Red Hat Display', sans-serif;
  --ion-text-color: #0b0d22;

  /* Primary Color (Cyna Blue) */
  --ion-color-primary: #0078c7;
  --ion-color-primary-rgb: 0, 120, 199;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #006aaf;
  --ion-color-primary-tint: #1a86cd;

  /* Secondary Color (Cyna Purple) */
  --ion-color-secondary: #8000ff;
  --ion-color-secondary-rgb: 128, 0, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #7100e0;
  --ion-color-secondary-tint: #8d1aff;
}
