@import url(./buttons.css);

body {
  font-family: 'Red Hat Display', sans-serif;
  color: #0b0d22;
}

:root {
  /* Primary Color (Cyna Blue) */
  --ion-color-primary: #0078c7;
  --ion-color-primary-rgb: 0, 120, 199;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #006aaf;
  --ion-color-primary-tint: #1a86cd;

  /* Secondary Color (Cyna Purple) */
  --ion-color-secondary: #8000ff;
  --ion-color-secondary-rgb: 128, 0, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #7100e0;
  --ion-color-secondary-tint: #8d1aff;
}
