/* @import url(./buttons.css); */
@import 'tailwindcss';

/* ---------- FONTS ---------- */
/* --------------------------- */
@font-face {
  font-family: 'Red Hat Display';
  src: url(fonts/RedHatDisplay.ttf);
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url(fonts/RedHatDisplayItalic.ttf);
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* ---------- BODY ---------- */
/* --------------------------- */
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

/* ---------- VARIABLES ---------- */
/* --------------------------- */
:root {
  --ion-font-family: 'Red Hat Display', sans-serif;
  --ion-text-color: #0b0d22;
  --default-transition-duration: 0.2s; /* tailwind (to fit ionic default) */

  /* Primary Color (Cyna Blue) */
  --ion-color-primary: #0078c7;
  --ion-color-primary-rgb: 0, 120, 199;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #006aaf;
  --ion-color-primary-tint: #1a86cd;

  /* Secondary Color (Cyna Purple) */
  --ion-color-secondary: #8000ff;
  --ion-color-secondary-rgb: 128, 0, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #7100e0;
  --ion-color-secondary-tint: #8d1aff;

  /* Tertiary Color (Cyna Dark Blue) */
  --ion-color-tertiary: #010033;
  --ion-color-tertiary-rgb: 26, 0, 96;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #160051;
  --ion-color-tertiary-tint: #330099;
}

/* Link */
a {
  color: inherit;
}
a:hover {
  text-decoration-line: underline;
}

/* Color */
.bg-primary {
  background: var(--ion-color-primary);
}
.bg-secondary {
  background: var(--ion-color-secondary);
}
.bg-tertiary {
  background: var(--ion-color-tertiary);
}
.text-primary {
  color: var(--ion-color-primary);
}
.text-secondary {
  color: var(--ion-color-secondary);
}
.text-tertiary {
  color: var(--ion-color-tertiary);
}

/* Layout */
.wrap {
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
  box-sizing: border-box;
}
